{{#if showActions}}
    <td><a href="/{{route}}/{{adoption_id}}">Actualizar</a></td>
    <td><a onclick="confirmAdoptionDelete({{adoption_id}})">Eliminar</a></td>
{{else}}
    <td></td>
    <td></td>
{{/if}}