{{#if showActions}}
    <td><a href="/adoptions/details/{{_id}}">Visualizar</a></td>
    <td><a href="/adoptions/update/{{_id}}">Actualizar</a></td>
    <td><a href="/adoptions/delete/{{_id}}">Eliminar</a></td>
{{else}}
    <td></td>
    <td></td>
    <td></td>
{{/if}}