<<<<<<< HEAD
<div class="menu_element">
=======
<div class="menu_element" id="menu_element_op">
>>>>>>> 7d4f99401dccb9db359773f734d9d732ce7e8721
    <li  id="dropbtn" onclick="subMenuOperations()">Operações</li>
    <div class="dropdown-content" id="dropDownMenu">
        
        {{#each op_submenu}}
        <a href="{{href}}">{{name}}</a>
        {{/each}}
    </div>
</div>