<div class="menu_element">
    <li  id="dropbtn" onclick="subMenuOperations()">Operações</li>
    <div class="dropdown-content" id="dropDownMenu">
        <a href="#">Voluntários</a>
        <a href="#">Funcionários</a>
        <a href="#">...</a>
    </div>
</div>