<div class="menu_element">
    <li  id="dropbtn" onclick="subMenuOperations()">Operações</li>
    <div class="dropdown-content" id="dropDownMenu">
        
        {{#each op_submenu}}
        <a href="{{href}}">{{name}}</a>
        {{/each}}
    </div>
</div>