<div id="searchUsers">
    <form id="searchUsersForm" method="GET" action="/{{route}}">
        <div class="form-group">
            <label>Nome do animal:</label>
            <input class="search-input-form" type="text" name="animalName" />
        </div>
        <div class="form-group">
            <label>Número do chip de identificação:</label>
            <input class="search-input-form" type="number" min="0" max="999999999999999" name="idChip" />
        </div>
        <div class="form-group">
            <label>Localidade:</label>
            <input class="search-input-form" type="text" name="place" />
        </div>
        <div class="form-group">
            <label>Espécie:</label>
            <select name="tipo" class="search-input-form">
                <option value="Dog">Cão</option>
                <option value="Cat">Gato</option>
                <option value="" selected></option>
            </select>
        </div>
        <div class="form-group">
            <label>Tamanho:</label>
            <select name="tipo" class="search-input-form">
                <option value="Small">Pequeno</option>
                <option value="Medium">Médio</option>
                <option value="Large">Grande</option>
                <option value="" selected></option>
            </select>
        </div>
        <div class="form-group">
            <label>Género:</label>
            <select name="gender" class="search-input-form">
                <option value='Male'>Macho</option>
                <option value='Female'>Femea</option>
                <option value="" selected></option>
            </select>
        </div>
        <div class="form-group">
            <label>Data de desaparecimento:</label>
            <input class="search-input-form" type="missingDate" name="date" />
        </div>
        <div class="form-group">
            <label>Local actual do utilizador:</label>
            <input class="search-input-form" type="checkbox" name="userLocation" />
        </div>
        <div id="submit" class="form-group" >
            <button type="submit" class="confirmationButton" id="searchSubmitButton">Pesquisar</button>
        </div>
    </form>
</div>