<div>

    {{#if userIsLogged}}
    
    <h1>Home</h1>

    {{else}}

    <a class="menu_login" href="/register">Registar</a>
    <a class="menu_login" href="/login">Iniciar Sessão</a>
    
    {{/if}}
</div>