<div class="tooltips">
        <img src="./images/help.jpg" with="25" height="25" alt="Ajuda" />
        <span class="tooltiptext">Nesta poderá registar um desaparecimento ou pesquisar desaparecimentos registados.</span>
    </div>
<div style="margin-left: 3em">
    <h2>{{description}}</h2>
</div>
<table id="usersListTable">
    <thead>
        <tr>
            <th>Pesquisar por:</th>
            <th colspan="7"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="searchCell" rowspan={{searchColumnRowspan}}>{{> searchColumn}}</td>
            <td>
                {{> googleMap}}
            </td>
        </tr>
        
    </tbody>

</table>