<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Quinta do Mião</title>
    <meta name="description" content="{{description}}">
<<<<<<< HEAD
    <link rel="stylesheet" type="text/css" href="./css/button.css">
    <link rel="stylesheet" type="text/css" href="./css/carousel.css">
    <link rel="stylesheet" type="text/css" href="./css/input.css">
    <link rel="stylesheet" type="text/css" href="./css/site.css">
    <link rel="stylesheet" type="text/css" href="./css/site.min.css">
    <link rel="stylesheet" type="text/css" href="./css/text.css">
    <link rel="stylesheet" type="text/css" href="./css/tooltip.css">
    <script type="text/javascript" src="./js/scripts.js"></script>
=======
    <link rel="stylesheet" type="text/css" href="/css/button.css">
    <link rel="stylesheet" type="text/css" href="/css/carousel.css">
    <link rel="stylesheet" type="text/css" href="/css/input.css">
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <link rel="stylesheet" type="text/css" href="/css/site.min.css">
    <link rel="stylesheet" type="text/css" href="/css/text.css">
    <link rel="stylesheet" type="text/css" href="/css/tooltip.css">
    <script type="text/javascript" src="/js/scripts.js"></script>
>>>>>>> 7d4f99401dccb9db359773f734d9d732ce7e8721
</head>

<body>
    <div>
        <div id="logo">
<<<<<<< HEAD
            <img src="./images/Logo.png" width="100" alt="Logo" />
            <img src="./images/nome.png" height="100" alt="Nome" />
=======
            <img src="/images/Logo.png" width="100" alt="Logo" />
            <img src="/images/nome.png" height="100" alt="Nome" />
>>>>>>> 7d4f99401dccb9db359773f734d9d732ce7e8721
        </div>

        {{> user}}

    </div>
    <div>
        <ul class="menu_bar">
            <li class="menu_element" id="selected">Início</li>
<<<<<<< HEAD
            <li class="menu_element"><a href="/animal">Animais</a></li>
            <li class="menu_element"><a href="/volunteering">Voluntariado</a></li>


{{> operationsDropDownMenu}}

<!--li class="menu_element"><a href="/operations">Operações</a></li-->

=======
            <li class="menu_element"><a href="/animals">Animais</a></li>
            <li class="menu_element"><a href="/volunteering">Voluntariado</a></li>
            {{#if isUserLogged.username}}
                {{> operationsDropDownMenu}}
            {{/if}}
>>>>>>> 7d4f99401dccb9db359773f734d9d732ce7e8721
            <li class="menu_element"><a href="/about">Sobre nós</a></li>
        </ul>
    </div>



    {{{body}}}



    <div>
        <footer id="contactos">
            <ul>
                <li>Contactos</li>
                <li><span>Telefone:</span> 212 806 700</li>
                <li><span>Email:</span> qmiao@email.com</li>
                <li><span>Fax:</span> 212 806 701</li>
            </ul>
        </footer>
    </div>
</body>

</html>